* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(233, 154, 154, 0.7));
  height: 100vh;
}

.container {
  width: 85%;
  margin: 0 auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}

header {
  height: 8vh;
  line-height: 8vh;
}
header nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
}
nav ul li {
  padding: 0 0.5rem;
  transition: 0.4s;
  cursor: pointer;
}
nav ul li:hover {
  background: rgba(94, 81, 4, 0.7);
}
nav ul li:hover a {
  color: #fff;
}
main {
  height: 90vh;
}
