<h3>Edit Author</h3>
<form action="/authors/<%=author.id%>?_method=PUT" method="POST" >
    <label>Name</label>
    <input type="text" name="name" value="<%=author.name%>">
    <input type="submit" value="Upate Author">
</form>
