<h2>New Author</h2>
<form action="/authors" method="post">
    <label>Name</label>
    <input type="text" name="name" placeholder="Enter author's name">
    <input type="submit" value="Creat New Autor">
</form>